.Header{
    display : flex;
    flex-direction : row;
    align-items: center;
    flex: auto;
    height: 100%;
    z-index: 2px;
    font: inherit;
    border: solid 1px blue;
    margin: 0px 15px 15px 15px
}

.header-link {
    text-decoration: none;
    font-size: 16.5pt;
    opacity: 0.75;
    margin-right: 25px;
    padding: 10px;
    transition: 0.1s ease-in-out;
    color: black;
}

.header-link:hover {
    color: rgb(51, 15, 255);
    font-weight: bold;
}

.header-logo {
    height: 50px;
    width: auto;
    border-radius: 40px;
}



